<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>VtlMembership</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
	<p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
	<p class="alert alert-error"><%= alert %></p>
<% end %>

<!-- <p><%= link_to "HOME", root_path, :class => 'link_home' %></p> -->

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
